section.body1 {
  position: relative;
  .wavy-transition {
    @media (min-width: 1000px) {
      top: 30vw;
    }

    @media (min-width: 1300px) {
      top: 400px;
    }

    position: relative;
    top: 340px;
    left: 0;
    width: 100vw;
    svg {
      @media (min-width: 800px) {
        width: 100%;
      }
      position: absolute;
      right: 0;
      width: 150%;
    }
  }

  .spacer {
    width: 100vw;
    height: 200vh;
  }

  .buttons {
    @media (min-width: 630px) {
      flex-direction: row;
      gap: 3em;
      right: 60px;
    }

    @media (min-width: 800px) {
      top: 50vw;
    }

    @media (min-width: 1000px) {
      top: 40vw;
    }

    position: absolute;
    top: 500px;
    right: calc(50% - 110px);
    font-family: $textBold;
    color: $primary;
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    gap: 2em;
    div {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      div {
        text-align: center;
        text-shadow: 1px 4px 10px rgb(0, 0, 0);
        letter-spacing: 1px;
        z-index: 2;
      }
    }

    .menu {
      font-size: 1.5rem;
      top: 49px;
      right: 40px;
      .log {
        width: 140px;
        height: 140px;
      }
    }

    .reserve {
      font-size: 2rem;
      line-height: 35px;
      .label {
        width: 140px;
      }
      .log {
        width: 200px;
        height: 200px;
      }
    }

    .hours {
      font-size: 1.5rem;
      line-height: 25px;
      .label {
        width: 140px;
      }
      .log {
        width: 180px;
        height: 180px;
      }
    }

    .menu > .log,
    .reserve > .log,
    .hours > .log {
      @media (max-width: 630px) {
        height: 60px;
        width: calc(100vw - 2em);
        background-image: url("Images/plank1.png");
      }

      position: absolute;
      background-image: url("Images/log 1.png");
      background-size: 100% 100%;
    }

    .menu,
    .reserve,
    .hours {
      @media (max-width: 630px) {
        font-size: 1.5rem;
        line-height: normal;
        top: 0;
        right: 0;
        .label {
            width: auto;
        }
      }
    }
  }
}
