section.body4 {
  @media (min-width: 580px) {
    margin-top: 200px;
  }

  z-index: 1;
  position: relative;
  max-width: 100vw;
  height: 200px;
  pointer-events: none;
  .container {
    pointer-events: all;
    position: absolute;
    bottom: calc(80vh - 1250px);
    left: 0;
    width: 100vw;
    height: 0;
}

.reviews-container {
    width: 100%;
    height: 500px;
    background-color: rgb(173, 173, 173);
  }
}
