section.body2 {
  @media (min-width: 800px) {
    margin-top: 400px;
  }

  @media (min-width: 950px) {
    margin-top: 100px;
  }

  position: relative;
  margin-top: calc(700px - 55vw);
  max-width: 100vw;
  height: 200px;

  .container {
    position: absolute;
    bottom: calc(80vh - 350px);
    left: 0;
    width: 100vw;
    height: 0;
  }

  $body2-collapse: 1000px;
  $body2-mobile-collapse: 630px;
  .wavy-transition {
    width: 100%;
    svg {
      @media (min-width: 800px) {
        width: 120%;
      }
      @media (min-width: $body2-collapse) {
        width: 100%;
        filter: brightness(70%);
      }
      position: absolute;
      right: 0;
      width: 150%;
      z-index: 1;
      filter: brightness(30%);
    }

    .radial-gradient {
      @media (min-width: 800px) {
        visibility: visible;
      }
      visibility: hidden;
    }
  }

  .visitors-counter {
    @media (min-width: 800px) {
      width: 486px;
      height: 238px;
      visibility: visible;
      right: calc(50% - 250px);
    }

    @media (min-width: 950px) {
      right: 10vw;
      top: calc(27vw - 180px);
    }

    @media (min-width: 1450px) {
      top: calc(27vw - 240px);
    }

    width: 0;
    visibility: hidden;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 3;
    img {
      position: absolute;
      width: 100%;
    }
    div {
      position: relative;
      top: -20px;
      z-index: 2;
      text-shadow: 1px 4px 10px rgb(0, 0, 0);
    }

    .count {
      font-family: $textBold;
      color: $primary;
      font-size: 4.5rem;
      letter-spacing: 4px;
    }

    .label {
      line-height: 1px;
      font-family: $textBold;
      font-size: 1.6rem;
      letter-spacing: 2px;
      color: $white;
    }
  }

  .content-container {
    @media (min-width: 580px) {
      top: 300px;
    }

    @media (min-width: 800px) {
      top: calc(200px + 10vw);
    }

    @media (min-width: $body2-collapse) {
      padding-inline: 8em;
    }

    @media (min-width: 1450px) {
      top: calc(60px + 20vw);
    }
    position: relative;
    top: 200px;
    display: flex;
    justify-content: center;
    overflow: hidden;
    height: 1300px;

    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 0;
      background-image: url("./images/WoodTexture.jpg");
      filter: brightness(50%);
    }
    &::after {
      @media (min-width: $body2-collapse) {
        visibility: hidden;
      }
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background: radial-gradient(
        circle,
        rgba(21, 35, 85, 1) 0%,
        rgba(84, 94, 131, 0.7) 60%,
        rgba(255, 255, 255, 0) 100%
      );
      z-index: 1;
      mix-blend-mode: multiply;
    }
  }

  .blue-shadow {
    @media (min-width: $body2-collapse) {
      visibility: visible;
    }

    @media (min-width: 1260px) {
      right: calc(50vw - 430px);
    }
    visibility: hidden;
    position: absolute;
    mix-blend-mode: multiply;
    z-index: 2;
    width: 480px;
    height: 480px;
    right: calc(50vw - 380px);
    top: 370px;
    border-radius: 50%;
    background-color: #71dbfc;
  }

  .content {
    @media (min-width: 950px) {
      padding-inline: 7em;
    }

    @media (min-width: $body2-collapse) {
      width: 1000px;
      flex-direction: row;
      justify-content: space-between;
      align-items: start;
      padding-inline: 0;
      gap: 4em;
    }
    display: flex;
    width: 100%;
    padding-inline: 3em;
    flex-direction: column;
    align-items: center;
    gap: 8em;
    z-index: 2;
  }

  .text {
    @media (min-width: 950px) {
      padding-top: 6em;
    }

    @media (min-width: $body2-collapse) {
      width: 400px;
      padding-top: 0;
    }

    position: relative;
    padding-top: 0em;
    color: $white;

    h2 {
      color: white;
      font-size: 2rem;
      filter: drop-shadow(0 0 10px rgb(0, 0, 0));
      letter-spacing: 1px;
      line-height: 30px;
      white-space: nowrap;
    }

    .the {
      font-size: 1.5rem;
    }

    .finest {
      font-size: 3rem;
      letter-spacing: 1.5px;
      color: $primary;
    }

    .dining-experience {
      @media (min-width:400px) {
        font-size: 2rem;
      }
      font-size: 1.8rem;
    }

    p {
      font-family: $textLight;
    }

    div {
      @media (min-width: $body2-mobile-collapse) {
        width: 250px;
      }
      margin-top: 1.5em;
      font-family: $textBold;
      font-size: 1.3rem;
      letter-spacing: 1px;
      height: 60px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 10px;
      border: solid 4px $white;
      filter: drop-shadow(0 0 4px rgb(0, 0, 0));
    }
  }

  .photos {
    width: 400px;
    height: 100%;
    position: relative;
    div {
      width: 400px;
      height: 400px;
      position: absolute;
    }

    div div {
      width: 100%;
      height: 100%;
      overflow: hidden;
      border-radius: 50%;
    }

    img {
      width: 100%;
    }

    .photo1 {
      @media (min-width: $body2-mobile-collapse) {
        top: -160px;
        right: -200px;
        height: 500px;
        width: 500px;
      }

      @media (min-width: $body2-collapse) {
        top: 0;
        right: -200px;
        width: 600px;
        height: 600px;
        filter: drop-shadow(10px 15px 25px rgb(0, 0, 0));
      }

      top: -80px;
      right: calc(50% - 60vw);
      width: 120vw;
      height: 400px;
      z-index: 0;
      filter: drop-shadow(5px 5px 15px rgba(0, 0, 0, 0.514));

    }

    .blue-shadow {
      right: 270px;
      width: 480px;
      height: 480px;
    }

    .photo2 {
      @media (min-width: $body2-mobile-collapse) {
        visibility: visible;
      }
      @media (min-width: $body2-collapse) {
        top: 380px;
        right: 100px;
      }
      @media (min-width: $body2-collapse) {
        top: 380px;
        right: 100px;
      }
      visibility: hidden;
      top: -80px;
      right: 230px;
      width: 420px;
      height: 420px;
      z-index: 2;
    }

    .photo3 {
      @media (min-width: $body2-collapse) {
        visibility: visible;
      }

      @media (min-width: 1100px) {
        left: 250px;
      }
      visibility: hidden;
      width: 350px;
      height: 350px;
      top: 520px;
      left: 200px;
      z-index: 3;
      filter: drop-shadow(10px 15px 20px rgb(0, 0, 0));
    }
  }
}
