section.body4 {
  @media (min-width: 580px) {
    margin-top: calc(1600px - 80vh);
  }

  @media (min-width: 1000px) {
    margin-top: calc(1300px - 80vh);
  }

  @media (min-width: 1200px) {
    margin-top: calc(1470px - 80vh);
  }

  margin-top: calc(100px - 80vh);
  z-index: 1;
  position: relative;
  max-width: 100vw;
  pointer-events: none;
  .container {
    pointer-events: all;
    width: 100vw;
  }
}
.reviews-container-container {
  width: 100%;
  background-color: rgb(173, 173, 173);
  padding-block: 2em;
  display: flex;
  justify-content: center;
  .reviews-container {
    padding-inline: 4em;
    display: grid;
    gap: 4em;
    row-gap: 2em;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-auto-rows: 220px;
  }
}

$review-height: 220px;
.review {
  height: $review-height;
  background-color: $white;
  border-radius: 10px;
  position: relative;
  padding-block: 0.8em;
  padding-inline: 1.3em;
  font-family: $textRegular;
  .rating {
    margin-left: 2em;
    height: 20px;
    position: relative;
    svg {
      position: absolute;
      height: 100%;
    }
  }

  .name-date {
    margin-left: 2.3em;
    display: flex;
    align-items: center;
    gap: 1em;
  }

  .name {
    font-family: $textBold;
    font-size: 1.2rem;
    color: $secondary;
  }

  .date {
    font-size: 0.7rem;
    opacity: 0.7;
  }

  .profile-picture {
    background-color: gray;
    position: absolute;
    top: -10px;
    left: -40px;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    background-size: cover;
  }

  .body {
    -webkit-mask-image: linear-gradient(to top, transparent 0%, black 27%);
    mask-image: linear-gradient(to top, transparent 0%, black 27%);
    height: calc($review-height - 120px);
    position: relative;
    top: -0.6em;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      height: 1px;
      width: 100%;
      background-color: rgb(214, 214, 214);
    }
  }

  .title {
    margin-top: 1.5em;
    padding-top: 0.5em;
    font-family: $textBold;
    letter-spacing: 0.3px;
    color: $secondary;
    position: relative;
  }

  p {
    margin: 0;
    font-size: 0.85rem;
    color: rgb(99, 99, 99);
  }

  .see-more {
    font-size: 0.85rem;
    color: rgb(131, 131, 131);
    text-decoration: underline;
    display: inline-block;
    &:hover {
      cursor: pointer;
    }
  }
}

.user-review-modal {
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  z-index: 5;
  backdrop-filter: blur(20px);
  background-color: rgba(0, 0, 0, 0.452);

  .container {
    width: 600px;
    position: relative;
  }

  .close-button {
    height: 50px;
    width: 50px;
    position: absolute;
    right: -10px;
    top: -10px;
    background-color: $white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: drop-shadow(0 0 5px rgb(8, 8, 8));
    z-index: 1;
    svg {
      height: 25px;
      opacity: 0.5;
    }

    &:hover {
      cursor: pointer;
    }
  }

  .review {
    height: 500px;
  }

  .see-more {
    visibility: hidden;
  }

  .body {
    -webkit-mask-image: none;
    mask-image: none;
    height: auto;
  }
}
