footer {
  z-index: 1;
  position: relative;
  max-width: 100vw;
  height: 200px;
  $footer-color: rgb(54, 54, 54);

  .container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    background-color: rgb(204, 204, 204);
    color: $footer-color;
    font-family: $textRegular;
  }

  .welcome-user {
    font-family: $textBold;
    letter-spacing: 0.5px;
  }

  .vertical-line {
    width: 2px;
    height: 100%;
    transform: scaleY(0.8);
    background-color: rgb(168, 168, 168);
    margin-inline: 3em;
  }

  .buttons {
    margin-top: 2em;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  button {
    border: none;
    width: 100%;
    height: 40px;
    font-family: $textRegular;
    border-radius: 10px;
    font-size: 1rem;
    margin-block: 0.5em;
    background-color: $footer-color;
    color: $white;

    &:hover {
      cursor: pointer;
    }
  }

  .sign-out,
  .sign-in {
    letter-spacing: 1px;
    color: $footer-color;
    background-color: transparent;
    border: solid 2px $footer-color;
  }

  .sign-in {
    display: flex;
    align-items: center;
    padding-left: 1em;
    gap: 2em;
    height: 50px;
    img {
      height: 25px;
      opacity: 0.5;
    }
  }

  .icons > img {
    height: 40px;
  }

  .socials {
    margin-top: 2em;
    width: 300px;
  }

  .socials > div {
    font-family: $textBold;
    letter-spacing: 1px;
  }

  .leave-a-review {
    font-family: $textBold;
    letter-spacing: 0.5px;
  }
}

.review-modal {
  position: fixed;
  top: 0;
  z-index: 5;
  backdrop-filter: blur(20px);
  background-color: rgba(0, 0, 0, 0.452);
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .close-button {
    height: 50px;
    width: 50px;
    position: absolute;
    right: -10px;
    top: -10px;
    background-color: $white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: drop-shadow(0 0 5px rgb(8, 8, 8));
    svg {
      height: 25px;
      opacity: 0.5;
    }

    &:hover {
      cursor: pointer;
    }
  }

  & > .container {
    width: 800px;
    height: calc(100vh - 8em);
    background: url("./images/WoodTexture.jpg"),
      radial-gradient(
        circle,
        rgba(21, 35, 85, 1) 0%,
        rgb(76, 81, 99) 60%,
        rgba(31, 31, 31, 0.418) 100%
      );
    background-blend-mode: multiply;
    border-radius: 10px;
    filter: drop-shadow(0 0 2rem rgb(8, 8, 8));
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .title {
    position: absolute;
    top: -45px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;

    img {
      position: absolute;
      height: 100%;
      width: 400px;
    }

    h2 {
      position: relative;
      font-size: 2.3rem;
      color: $primary;
      text-shadow: 1px 4px 10px rgb(0, 0, 0);
      letter-spacing: 1px;
    }
  }

  .form-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    overflow-y: scroll;
    padding-top: 8em;
  }

  ::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-track {
    @media (max-height: 830px) {
      background: #1a1a1acc;
    }
  }

  ::-webkit-scrollbar-thumb {
    background: rgb(167, 167, 167);
    border-radius: 5px;
  }

  form {
    width: 400px;
    color: $white;
    font-family: $textRegular;
    position: relative;
  }

  .user-info {
    margin-bottom: 2em;
    display: flex;
    justify-content: center;
  }

  .user-info > .container {
    gap: 1em;
    display: flex;
    align-items: center;
  }

  .profile-picture {
    height: 50px;
    width: 50px;
    background-color: $white;
    border-radius: 50%;
    background-size: cover;
  }

  .username {
    font-family: $textBold;
    letter-spacing: 1px;
  }

  .email > div {
    color: $primary;
  }

  input,
  textarea {
    width: 100%;
    margin-top: 0.5em;
    border: none;
    border-radius: 10px;
    padding: 0.5em;
    font-family: $textRegular;
  }
  
  input {
    height: 40px;
    margin-bottom: 0.5em;
  }

  textarea {
    resize: none;
    height: 160px;
  }

  .counter {
    position: absolute;
    right: 0;
    font-size: 0.8rem;
  }

  label {
    font-family: $textDisplay;
    font-size: 1.5rem;
    letter-spacing: 1px;
  }

  label[for="reviewText"] {
    display: block;
    margin-top: 1em;
  }

  textarea:focus,
  input:focus {
    outline: none;
  }

  .submit {
    background-color: $primary;
    margin: 2em 0 2em 0;
    padding: 0;
    font-size: 1.5rem;
    font-family: $textDisplay;
    color: rgb(56, 27, 0);
    transition: 0.1s;

    &:hover {
      cursor: pointer;
      opacity: 0.8;
    }
  }

  .rating {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-block: 2em;
    height: 50px;
    position: relative;
    z-index: 0;
  }

  .rating > .container {
    width: 300px;
    display: flex;
    justify-content: center;
    position: relative;

    svg {
      position: absolute;
      width: 300px;
    }

    .selection-container {
      position: absolute;
      height: 100%;
      width: 300px;
      display: flex;
      &:hover {
        cursor: pointer;
      }
    }

    .selection-container > div {
      flex-grow: 1;
    }
  }
}
