footer {
    z-index: 1;
    position: relative;
    max-width: 100vw;
    height: 200px;
    margin-top: calc(900px - 55vw);
    .container {
      position: absolute;
      bottom: calc(80vh - 1350px);
      left: 0;
      width: 100vw;
      height: 0;
    }

    .buttons {
        width: 100%;
        height: 200px;
        background-color: rgb(204, 204, 204);
    }
}