footer {
  z-index: 1;
  position: relative;
  max-width: 100vw;
  height: 200px;
  pointer-events: none;
  // margin-top: calc(900px);
  .container {
    pointer-events: all;
    position: absolute;
    bottom: calc(80vh - 1350px);
    left: 0;
    width: 100vw;
    height: 0;
  }

  .buttons {
    width: 100%;
    height: 200px;
    background-color: rgb(204, 204, 204);
  }
}

.review-modal {
  position: fixed;
  top: 0;
  z-index: 5;
  backdrop-filter: blur(20px);
  background-color: rgba(0, 0, 0, 0.452);
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .close-button {
    height: 50px;
    width: 50px;
    position: absolute;
    right: -10px;
    top: -10px;
    background-color: $white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: drop-shadow(0 0 5px rgb(8, 8, 8));
    svg {
      height: 25px;
      opacity: 0.5;
    }

    &:hover {
      cursor: pointer;
    }
  }

  & > .container {
    width: 800px;
    height: calc(100vh - 8em);
    background: url("./images/WoodTexture.jpg"),
      radial-gradient(
        circle,
        rgba(21, 35, 85, 1) 0%,
        rgb(76, 81, 99) 60%,
        rgba(31, 31, 31, 0.418) 100%
      );
    background-blend-mode: multiply;
    border-radius: 10px;
    filter: drop-shadow(0 0 2rem rgb(8, 8, 8));
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .title {
    position: relative;
    top: -45px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      position: absolute;
      height: 100%;
      width: 400px;
    }

    h2 {
      position: relative;
      font-size: 2.3rem;
      color: $primary;
      text-shadow: 1px 4px 10px rgb(0, 0, 0);
    }
  }

  form {
    position: relative;
    top: -35px;
    width: 400px;
    color: $white;
    font-family: $textRegular;
  }

  .user-info {
    margin-bottom: 2em;
    display: flex;
    justify-content: center;
  }

  .user-info > .container {
    gap: 1em;
    display: flex;
    align-items: center;
  }

  .profile-picture {
    height: 50px;
    width: 50px;
    background-color: $white;
    border-radius: 50%;
  }

  .username {
    font-family: $textBold;
    letter-spacing: 1px;
  }

  .email > div {
    color: $primary;
  }

  input,
  textarea {
    width: 100%;
    margin-top: 0.5em;
    border: none;
    border-radius: 10px;
    padding: 0.5em;
    font-family: $textRegular;
    margin-bottom: 2em;
  }

  input {
    height: 40px;
  }

  textarea {
    resize: none;
    height: 160px;
  }

  label {
    font-family: $textDisplay;
    font-size: 1.5rem;
    letter-spacing: 1px;
  }

  textarea:focus,
  input:focus {
    outline: none;
  }

  .submit {
    background-color: $primary;
    margin: 0;
    padding: 0;
    font-size: 1.5rem;
    font-family: $textDisplay;
    color: rgb(56, 27, 0);
    transition: 0.1s;

    &:hover {
      cursor: pointer;
      opacity: 0.8;
    }
  }

  .rating {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-block: 2em;
    height: 50px;
  }
  
  .rating > .container {
    width: 300px;
    display: flex;
    justify-content: center;
    position: relative;

    svg {
      position: absolute;
      width: 300px;
    }

    .selection-container {
      position: absolute;
      height: 100%;
      width: 300px;
      display: flex;
      &:hover {
        cursor: pointer;
      }
    }

    .selection-container > div {
      flex-grow: 1;
    }
  }
}
