header {
  .intro-video {
    height: 100vh;
    width: 100vw;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
  }

  .white-fill {
    background-color: white;
  }

  video {
    @media (min-aspect-ratio: 16/9) {
      width: 100vw;
      height: auto;
    }
    height: 100vh;
    width: auto;
  }

  .mute-button {
    position: fixed;
    top: 0;
    right: 0;
    width: 100px;
    height: 30px;
    background-color: black;
    z-index: 5;
  }

  .intro-buttons-container {
    @media (max-height: 400px), (max-width: 400px) {
      bottom: 1em;
    }

    position: fixed;
    bottom: 8%;
    z-index: 15;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .intro-buttons {
    @media (min-height: 700px), (max-width: 700px) {
      flex-direction: column;
      gap: 1em;
    }

    display: flex;
    gap: 2em;
    flex-direction: row;
    margin-block: 1.2em;
    font-size: 1rem;

    .button {
      font-family: Arial, Helvetica, sans-serif;
      font-weight: 700;
      height: 40px;
      width: 250px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 20px;

      &:hover {
        cursor: pointer;
      }
    }

    .with-sound {
      background-color: black;
      color: white;
    }

    .without-sound {
      border: solid 2px black;
    }
  }

  .header-background-img-container {
    width: 100vw;
    height: 100vh;
    position: fixed;
    overflow: hidden;
  }

  .header-background-img {
    @media (min-width: 500px) {
      right: 0;
    }

    @media (min-width: 1000px) {
      width: 100%;
      right: auto;
    }

    @media (min-width: 1450px) {
      top: -100px;
    }

    right: -120px;
    width: 1000px;
    transform: scaleX(-1);
    position: absolute;
  }

  .background-graphics {
    position: absolute;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
  }

  .bg-1 {
    @media (min-width: 500px) {
      transform: scale(0.8) translateX(-50%);
    }

    @media (min-width: 800px) {
      transform: scale(1.2);
      left: -100px;
      top: -240px;
    }

    @media (min-width: 1000px) {
      transform: scale(1.5);
    }

    @media (min-width: 1450px) {
      left: 5%;
    }

    left: 40%;
    top: -100px;
    position: absolute;
    transform: scale(0.6) translate(-75%, 100px);

    mix-blend-mode: color-dodge;
    width: 800px;
    svg {
      width: 100%;
      position: absolute;
      top: -80px;
    }
  }

  .bg-2 {
    @media (min-width: 500px) {
      transform: translateX(-50%);
    }
    @media (min-width: 800px) {
      left: 80px;
      transform: none;
    }

    @media (min-width: 1450px) {
      left: 15%;
      transform: translate(-50px, 40px) scale(1.2);
    }

    left: 50%;
    transform: translateX(-50%) scale(0.7);
    position: absolute;
    top: 0;
    width: 600px;
    svg {
      width: 100%;
    }
  }

  h1.title {
    @media (min-width: 500px) {
      font-size: 7rem;
      left: calc(50% - 240px);
      line-height: 4.5rem;
      top: 80px;
    }

    @media (min-width: 800px) {
      left: 150px;
    }

    @media (min-width: 1450px) {
      left: 15%;
      top: 120px;
    }

    left: calc(50% - 140px);
    font-size: 4rem;
    position: absolute;
    top: 150px;
    font-family: $textDisplay;
    color: $primary;
    font-weight: normal;
    letter-spacing: 4px;
    line-height: 2.8rem;

    .eat {
      @media (min-width: 500px) {
        font-size: 5rem;
      }
      font-size: 3rem;
    }
    .at-the {
      @media (min-width: 500px) {
        font-size: 3rem;
      }
      position: relative;
      left: -12px;
      font-size: 2rem;
      color: white;
      background: -webkit-linear-gradient($secondary 30%, #ffffff67);
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    .baratie,
    .eat {
      background: -webkit-linear-gradient($primary 40%, #ffee5154);
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}
