* {
  box-sizing: border-box;
}

@import "./abstracts/fonts.scss";
@import "./abstracts/colors.scss";
@import "header.scss";
@import "body1.scss";

body {
  background-color: rgb(75, 75, 75);
  position: relative
}

h1, h2, h3 {
  font-family: $textDisplay;
  font-weight: normal;
  color: $secondary;
}

p {
  font-family: $textRegular;
}
